{{define "top" .}}
<title>New Martabak order</title>
</head>
<body class="bg-gradient-to-br from-amber-50 via-range-50 to-rose-50 min-h-screen">
    <div>
        <p>Ini adalah halaman pemesanan martabak</p>
    </div>
</body>
